<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title || 'Login' %></title>
</head>
<body>
  <%- messages() %>
  <h2>Welcome <%= accountData.account_firstname %></h2>

  <a href="/account/update/<%= accountData.account_id %>">Update Account Information</a>

  <% if (accountData.account_type === 'Employee' || accountData.account_type === 'Admin') { %>
    <h2>Manage Inventory</h2>
    <p id="manageParagraph"><a href="/inv/AddNewClassification">Add New Classification</a></p>
    <p id="manageParagraph"><a href="/inv/AddNewInventory">Add New Vehicle</a></p>

    <p>Select a Classification</p>
    <%- classificationSelect %>

    <noscript>JavaScript must be enabled to use this page</noscript>

    <table id="inventoryDisplay"></table>
    <script src="../../js/inventory.js"></script>
  <% } %>

</body>
</html>
